/* --- Dashboard CSS --- */
    .Dashboard-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: whitesmoke;
        height: 1250px;
        width: 100%;
        border: solid 1px #f0f0f0;
        border-radius: 10px;
    }

/* ---  Active Users --- */
    .Dashboard-active-users{

    }

/* ---  List of Recent Users --- */
    .Dashboard-list-of-recent-users{

    }

/* ---  List of Recent Workouts --- */
    .Dashboard-list-of-recent-workouts{

    }

/* ---   --- */
    .Dashboard-graph {
        width: 100%;
        height: 400px;
        text-align: center;
    }

    .Dashboard-line-chart{
        margin: 0 auto;
    }
